<a href="https://colab.research.google.com/github/astnrhy30/PAW/blob/master/Tugas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Tugas 1 | Hitung Data Bencana Banjir Jakarta Desember 2017

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Membaca data file CSV (Data_BencanaBanjir_Jakarta_Desember2017.csv) pada respositori main.

In [ ]:
Data_BanjirJakarta = pd.read_csv("https://raw.githubusercontent.com/astnrhy30/datamining/main/Data_BencanaBanjir_Jakarta_Desember2017.csv")

In [ ]:
Data_BanjirJakarta.head()

,kota_administrasi,kecamatan,kelurahan,rw,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_kk,jumlah_terdampak_jiwa,ketinggian_air,tanggal_kejadian,lama_genangan,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian
0,Jakarta Barat,KALIDERES,KAMAL,"01, 04",2,6,0,0,20 s/d 30 cm,"tgl. 03, 04, 06, 20",0,0,0,0,0,0,0,0
1,Jakarta Barat,GROGOL PETAMBURAN,JELAMBAR BARU,"01,06, 07",3,2,0,0,10 s/d 20 cm,"tgl. 05, 06, 07, 09",0,0,0,0,0,0,0,0
2,Jakarta Selatan,PASAR MINGGU,JATI PADANG,6,1,1,8,35,5 - 50 cm,"tgl. 01, 11, 16, 20",0,0,0,0,35,1,0,0
3,Jakarta Selatan,PANCORAN,KALIBATA,"05, 09, 10",3,3,0,0,20 s/d 30 cm,tgl. 12,0,0,0,0,0,0,0,0
4,Jakarta Selatan,SETIABUDI,KUNINGAN TIMUR,5,1,1,0,0,20 s/d 25 cm,tgl. 12,0,0,0,0,0,0,0,0

Mengetahui total jumlah baris dan kolom pada tabel tersebut.

In [ ]:
Data_BanjirJakarta.shape

(26, 18)

Menampilkan data nominal/kategorial.

In [ ]:
Data_BanjirJakarta[["kota_administrasi","kecamatan","kelurahan","rw","ketinggian_air","tanggal_kejadian"]].head()

,kota_administrasi,kecamatan,kelurahan,rw,ketinggian_air,tanggal_kejadian
0,Jakarta Barat,KALIDERES,KAMAL,"01, 04",20 s/d 30 cm,"tgl. 03, 04, 06, 20"
1,Jakarta Barat,GROGOL PETAMBURAN,JELAMBAR BARU,"01,06, 07",10 s/d 20 cm,"tgl. 05, 06, 07, 09"
2,Jakarta Selatan,PASAR MINGGU,JATI PADANG,6,5 - 50 cm,"tgl. 01, 11, 16, 20"
3,Jakarta Selatan,PANCORAN,KALIBATA,"05, 09, 10",20 s/d 30 cm,tgl. 12
4,Jakarta Selatan,SETIABUDI,KUNINGAN TIMUR,5,20 s/d 25 cm,tgl. 12

Menghitung jarak data nominal.

In [ ]:
def Data1(a,b):
    P = 4 #Banyaknya variabel yang mempunyai atribut yang sama
    M = 0 #Variabel jarak antara dua objek
    for kolom in ["kota_administrasi","kecamatan","kelurahan","rw","ketinggian_air","tanggal_kejadian"]:
        if Data_BanjirJakarta[kolom][a] == Data_BanjirJakarta[kolom][b]:
            M += 1

    return (P-M)/P #Rumus Jarak Data Nominal

In [ ]:
print(Data1(0,1))
print(Data1(0,2))
print(Data1(0,3))
print(Data1(0,4))

print(Data1(1,0))
print(Data1(1,2))
print(Data1(1,3))
print(Data1(1,4))

print(Data1(2,0))
print(Data1(2,1))
print(Data1(2,3))
print(Data1(2,4))

print(Data1(3,0))
print(Data1(3,1))
print(Data1(3,2))
print(Data1(3,4))

print(Data1(4,0))
print(Data1(4,1))
print(Data1(4,2))
print(Data1(4,3))

0.75
1.0
0.75
1.0
0.75
1.0
1.0
1.0
1.0
1.0
0.75
0.75
0.75
1.0
0.75
0.5
1.0
1.0
0.75
0.5

Menampilkan data numerik.

In [ ]:
Data_BanjirJakarta[["jumlah_terdampak_rw","jumlah_terdampak_rt","jumlah_terdampak_kk","jumlah_terdampak_jiwa","jumlah_meninggal","jumlah_hilang", "jumlah_luka_berat", "jumlah_luka_ringan", "jumlah_pengungsi_tertinggi", "jumlah_tempat_pengungsian", "nilai_kerugian"]].head()

,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_kk,jumlah_terdampak_jiwa,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian
0,2,6,0,0,0,0,0,0,0,0,0
1,3,2,0,0,0,0,0,0,0,0,0
2,1,1,8,35,0,0,0,35,1,0,0
3,3,3,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0

Mendeskripsikan isi tabel dari data numerik.

In [ ]:
Data_BanjirJakarta.describe()

,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_kk,jumlah_terdampak_jiwa,lama_genangan,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian
count,26.000000,26.000000,26.000000,26.000000,26.0,26.0,26.0,26.0,26.000000,26.000000,26.0,26.0
mean,1.961538,2.730769,5.038462,15.538462,0.0,0.0,0.0,0.0,1.346154,0.038462,0.0,0.0
std,1.280024,2.324783,24.110547,72.417805,0.0,0.0,0.0,0.0,6.864065,0.196116,0.0,0.0
min,1.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
25%,1.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
50%,1.500000,2.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
75%,2.750000,3.750000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
max,6.000000,11.000000,123.000000,369.000000,0.0,0.0,0.0,0.0,35.000000,1.000000,0.0,0.0

Normalisasi jumlah RW terdampak.

In [ ]:
std = 1.280024	
mean = 10.814815
for Kolom_RWTerdampak in ["jumlah_terdampak_rw"]:
    Data = Data_BanjirJakarta[Kolom_RWTerdampak]
    Hasil = (Data-mean)/std
    print(Hasil)

0    -6.886445
1    -6.105210
2    -7.667680
3    -6.105210
4    -7.667680
5    -7.667680
6    -6.105210
7    -7.667680
8    -7.667680
9    -7.667680
10   -6.886445
11   -7.667680
12   -7.667680
13   -6.886445
14   -7.667680
15   -7.667680
16   -6.886445
17   -5.323974
18   -5.323974
19   -7.667680
20   -3.761504
21   -6.886445
22   -7.667680
23   -6.105210
24   -7.667680
25   -6.886445
Name: jumlah_terdampak_rw, dtype: float64

Menghitung jarak Numeric dengan metode Euclidean.

In [ ]:
def Data2(a, b, c):
    IniHasil = 0
    for kolom in [Hasil]: #Nilai dari variabel Hasil didapat dari (Data-mean)/std
      IniHasil = math.pow(abs(kolom[i]-kolom[j]), h)
    return IniHasil**(1/h)

In [ ]:
print(Data2(1,3,2))

NameError: ignored

#Tugas 2 | Hitung Data Bunga Iris dengan Diskritisasi

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Membaca data file CSV (Data_BungaIris.csv) pada respositori main.

In [ ]:
Data_Iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")

In [ ]:
Data_Iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Menampilkan deskripsi statis data yang ada.

In [ ]:
Data_Iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Diskritisasi kolom sepal_length.

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
est.fit(Data_Iris[['sepal_length']])
Xt = est.fit_transform(Data_Iris[['sepal_length']])
print(Xt)

[[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [3.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [2.]
 [0.]
 [2.]
 [1.]
 [0.]
 [1.]
 [1.]
 [2.]
 [1.]
 [2.]
 [1.]
 [1.]
 [2.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [2.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [2.]
 [0.]
 [1.]
 [2.]
 [1.]
 [3.]
 [2.]
 [2.]
 [3.]
 [0.]
 [3.]
 [2.]
 [3.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [2.]
 [2.]
 [3.]
 [3.]
 [1.]
 [2.]
 [1.]
 [3.]
 [2.]
 [2.]
 [3.]
 [2.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [2.]
 [2.]
 [3.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]]

Diskritisasi kolom sepal_width.

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
est.fit(Data_Iris[['sepal_width']])
Xt = est.fit_transform(Data_Iris[['sepal_width']])
print(Xt)

[[2.]
 [1.]
 [2.]
 [1.]
 [2.]
 [3.]
 [2.]
 [2.]
 [1.]
 [1.]
 [2.]
 [2.]
 [1.]
 [1.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [3.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [3.]
 [3.]
 [1.]
 [2.]
 [2.]
 [1.]
 [1.]
 [2.]
 [2.]
 [0.]
 [2.]
 [2.]
 [3.]
 [1.]
 [3.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [0.]
 [1.]
 [1.]
 [2.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [2.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [2.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [2.]
 [2.]
 [1.]
 [1.]
 [0.]
 [1.]
 [2.]
 [1.]
 [3.]
 [1.]
 [0.]
 [2.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [3.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [1.]
 [0.]
 [1.]
 [2.]
 [1.]]

Diskritisasi kolom petal_length.

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
est.fit(Data_Iris[['petal_length']])
Xt = est.fit_transform(Data_Iris[['petal_length']])
print(Xt)

[[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [3.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [2.]
 [3.]
 [2.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [2.]
 [3.]
 [2.]
 [3.]
 [3.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [2.]
 [2.]
 [3.]
 [2.]
 [2.]
 [3.]
 [3.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]]

Diskritisasi kolom petal_width.

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
est.fit(Data_Iris[['petal_width']])
Xt = est.fit_transform(Data_Iris[['petal_width']])
print(Xt)

[[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [1.]
 [2.]
 [1.]
 [2.]
 [2.]
 [1.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [3.]
 [2.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [3.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [3.]
 [2.]
 [2.]
 [2.]
 [3.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [2.]
 [3.]
 [3.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [2.]]